.navbar {
    border-style: none;
}

.searchbar {
    margin: auto;
    width: 50%;
}

.logIn {
    margin-right: 10px;
    margin-left: 10px;
}

.menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navbarhidden {
        display: none !important;
    }
    .menu {
        display: block;
    }
}