.ticket {
    margin: 20px;
    border-bottom: solid 2px;
    border-color: antiquewhite;
}

.tags {
    display: flex;
}

.created {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
}

.description {
    margin-left: 12px;
    margin-right: 12px;
}

.checked {
    color: green;
    font-size: 26px;
}

.mainTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
